<div id="content">
	<div id="bgrounds">
	<%= image_tag "/stylesheets/images/bg_01.jpg" %>
	<%= image_tag "/stylesheets/images/bg_02.jpg" %>
	<%= image_tag "/stylesheets/images/bg_03.jpg" %>
	<%= image_tag "/stylesheets/images/bg_04.jpg" %>
	</div>

	<div>
	<ul class="navrow" id="navrow">
	 <li class="button" id="button_1"><a href="/about-us"></a></li>
	 <li class="button" id="button_2"><a href="/framing"></a></li>
	 <li class="button" id="button_3"><a href="/collections"></a></li>
	 <li class="button" id="button_4"><a href="/designer-page"></a></li>
	 <li class="button" id="button_5"><a href="/awards"></a></li>
	</ul>
	</div>


	<div id="logo_area">
	 <div id="byline">
	   <%= RefinerySetting.find_or_set(:byline, "")%>
	 </div>

	 <div id="contact">
	   <span id="phone"><%= RefinerySetting.find_or_set(:phone_num, "")%></span><br/>
	   <span><%= link_to "contact", "/about-us" %></span>
	 </div>
	</div>
</div>


